/* FONT */
@font-face {
  font-family: 'DINCyr';
  src: url('../fonts/DINCyr-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINCyr-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINCyr-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DINCyr-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DINCyr-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/DINCyr-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 100;
}

@font-face {
  font-family: 'DINCyr';
  src: url('../fonts/DINCyr-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINCyr-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINCyr-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DINCyr-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DINCyr-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINCyr-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 500;
}

/* SPECIFICATION */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, sans-serif;
	width: 100%;
	background: url(../img/bg-body.jpg) center center;
	font-size: 11px;
	color: #363636;
}

h1, h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: DINCyr, Verdana, Arial, sans-serif;
	font-weight: 100;
	margin: 0;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

.wrapper {
	/* width: 1024px;
	margin: 0 auto; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: ;
	max-width: 998px;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	grid-gap: 0px;
	grid-template-areas: 
		"hd hd hd hd hd hd hd hd hd hd hd hd"
		"sd sd . main main main main main main main main main"
		"ft ft ft ft ft ft ft ft ft ft ft ft";
	margin: 0 auto;
}


/* HEADER
----------------------------------------------------------------------------- */
.header {
	grid-area: hd;
	height: 165px;
	margin-bottom: 35px;
	font-family: DINCyr, Verdana, Arial, sans-serif;
	font-weight: 100;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header a {
	display: block;
	color: #707070;
}

.header .container {
	display: flex;
	height: 100%;
}

.header img {
	width: 100px;
}

.header div {
	font-size: 18px;
}

.header div span {
	font-size: 30px;
	line-height: 32px;
	display: block;
}

/* MIDDLE
----------------------------------------------------------------------------- */
.middle {
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	grid-area: main;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 2fr 10fr;
}

/* About
----------------------------------------------------------------------------- */
.about {
	margin-bottom: 42px;
}

/* Services
----------------------------------------------------------------------------- */

.services p {
	margin-bottom: 15px;
}

/* Gallery
----------------------------------------------------------------------------- */

.gallery {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.department {
	min-width: 240px;
	overflow: hidden;
}

.item {
		background-position: center;
		display: flex;
}

.photoholder {
	width: 77px;
	min-width: none;
	height: 77px;
		
}

.photo {
	  width: 77px;
    height: 77px;
		object-fit: cover;
		margin: 0 10px 20px 0;
}

/* SERVICES
----------------------------------------------------------------------------- */
	.services {
		margin-bottom: 55px;
	}

/* LEFT SIDEBAR
----------------------------------------------------------------------------- */
.left-sidebar {
	font-family: DINCyr, Verdana, Arial, sans-serif;
	font-weight: 100;
	grid-area: sd;
}

.navigation {
	text-decoration: none;
	font-weight: 100;
}

.navigation a {
	text-transform: uppercase;
	font-size: 40px;
	line-height: 40px;
	color: #363636;
	text-decoration: none;
}

.navigation a:hover {
	background: rgba(54, 54, 54, 0.47);
	color: #fff;
}

/* FOOTER
----------------------------------------------------------------------------- */
.footer {
	grid-area: ft;
	display: flex;
	height: 100px;
	border-top: 1px solid rgba(54, 54, 54, 0.47);
	color: #707070;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.1em;
	align-items: center;
}

.copyright {
	width: 104px;
	margin-right: 16px;
}

.footer a {
	color: #707070;
}

.footer a:hover {
	text-decoration: underline;
}