/* FONT */
@font-face {
  font-family: 'DINCyr';
  src: url('../fonts/DINCyr-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINCyr-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINCyr-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DINCyr-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DINCyr-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../fonts/DINCyr-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 100;
}

@font-face {
  font-family: 'DINCyr';
  src: url('../fonts/DINCyr-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINCyr-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINCyr-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DINCyr-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DINCyr-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINCyr-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 500;
}

/* SPECIFICATION */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, sans-serif;
	width: 100%;
	background: url(../img/bg-body.jpg) center center;
	font-size: 11px;
	color: #363636;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'DINCyr', Verdana, Arial, sans-serif;
	font-weight: 100;
}

.wrapper {
	/* width: 1024px;
	margin: 0 auto; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: none;
	grid-auto-rows: minmax(100px, auto);
	max-width: 998px;
	margin: 0 auto;
	grid-gap: 0px;
	grid-template-areas: 
		"hd hd hd hd hd hd hd hd hd hd hd hd"
		"sd sd . main main main main main main main main main"
		"ft ft ft ft ft ft ft ft ft ft ft ft";
}


/* HEADER
----------------------------------------------------------------------------- */
.header {
	height: 100px;
	margin-bottom: 85px;
	font-family: 'DINCyr', Verdana, Arial, sans-serif;
	font-weight: 100;
	grid-area: hd;
}

.header a {
	display: block;
	margin-top: auto;
	color: #707070;
}

.header img {
	margin-top: auto;
	width: 100px;
}

.header .container {
	display: flex;
	height: 100%;
}

.header p {
	margin-top: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 20px;
}

.header p span {
	font-size: 30px;
	line-height: 32px;
	display: block;
}

section {
	margin-bottom: 30px;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'DINCyr', Verdana, Arial, sans-serif;
	font-weight: 100;
}

/* MIDDLE
----------------------------------------------------------------------------- */
.middle {
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	grid-area: main;
	margin-top: -10px;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 2fr 10fr;
}

/* Team
----------------------------------------------------------------------------- */

.team p:nth-child(2) {
	margin-bottom: 15px;
}

/* Services
----------------------------------------------------------------------------- */

.services p {
	margin-bottom: 15px;
}

/* Gallery
----------------------------------------------------------------------------- */

.gallery {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.item {
		background-position: center;
		display: flex;
}

.square {
	position: relative;
	background: #363636;
	display: block;
	height: 77px;
	min-width: 77px;
	margin-right: 10px;	
	margin-bottom: 20px;
}

.item .square:before {
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.kondratiev .square:before {
	background: url(../gallery/Man-Booker-Prize-judges-p-011.jpg) no-repeat center center /cover;
}

.chepalyga .square:before {
	background: url(../gallery/superman_man_of_steel_star_henry_cavill_1207744.jpg) no-repeat center center /cover;
}

.demianenko .square:before {
	background: url(../gallery/tumour-man-3_1510528a.jpg) no-repeat center center /cover;
}

/*  TABLE OPTION */
/* 

	table {
	width: 100%;
}

	table, th, td {
	border: 1px solid #ddd;
	text-align: left;
	border-collapse: collapse;
}

th {
	height: 50px;
	padding: 20px auto;
}

.cell {
	display: flex;
}

*/


/* SERVICES */
	.services {
		margin-bottom: 50px;
	}

/* LEFT SIDEBAR
----------------------------------------------------------------------------- */
.left-sidebar {
	font-family: 'DINCyr';
	font-weight: 100;
	grid-area: sd;
}

.left-sidebar a {
	text-transform: uppercase;
	font-size: 40px;
	line-height: 38px;
	color: #707070;
}

.left-sidebar a:hover {
	background: rgba(54, 54, 54, 0.47);
	color: #fff;
}

/* FOOTER
----------------------------------------------------------------------------- */
.footer {
	height: 100px;
	border-top: 1px solid rgba(54, 54, 54, 0.47);
	color: #707070;
	font-family: Tahoma;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.1em;
	grid-area: ft;
}

.footer .wrapper {
	display: flex;
	margin-top: 37px;
}

.copyright {
	width: 104px;
	margin-right: 16px;
}

.footer a {
	color: #707070;
}

.footer a:hover {
	text-decoration: underline;
}

/* 992-1200px */
@media screen and (max-width: 1200px) {
}
/* 762-992px */
@media screen and (max-width: 992px) {

	.wrapper {
		grid-template-areas: 
			" hd hd hd "
			" sd sd sd "
			" main main main "
			" ft ft ft ";
		grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-auto-rows: minmax(100px, auto);
    max-width: 700px;
    margin: 0 auto;
	}

	.left-sidebar {
		margin-bottom: 35px;
		margin: 0 auto 50px auto;
	}

}

/* 576-762px */
@media screen and (max-width: 762px) {

	.wrapper {
		max-width: 550px;
	}

	.gallery {
		flex-direction: column;
	}

	.gallery .item {
		justify-content: center;
	}

}

/* 320-576px */
@media screen and (max-width: 576px) {

		.wrapper {
			max-width: 400px;
	}
	
}
